<div>
  <div>
    <h2>Pokemon</h2>
    <p><strong>Pokémon</strong> is a media franchise managed by The Pokémon Company, a Japanese consortium between Nintendo,<br> Game Freak, and Creatures.[4] The franchise copyright is shared by all three companies, but Nintendo is the
      <br> sole owner of the trademark.[5] The franchise was created by Satoshi Tajiri in 1995,[6] and is centered on fictional
      <br> creatures called "Pokémon", which humans, known as Pokémon Trainers, catch and train to battle each other for sport.</p>
  </div>
  <article class="article">
    <div class="card">
      <div class="container">
        <h1 class="text">{{pokemon?.name}}</h1>
        <h3 class="details-card">Abilities</h3>
        <div *ngFor="let ability of pokemon.abilities">
          <span>{{ability.ability.name}}</span>
          <span>{{ability.slot}}</span>

        </div>
        <h3 class="details-card">Types</h3>
        <div *ngFor="let type of pokemon.types">
          <span>{{type.type.name}}</span>
          <span>{{type.type.slot}}</span>

        </div>
        <h3 class="details-card">Stats</h3>
        <div *ngFor="let stat of pokemon.stats">
          <span>{{stat.base_stat}}</span>
          <span>{{stat.stat.name}}</span>

        </div>
      </div>
    </div>
  </article>
</div>
